<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<record id="action_stock_code_settings" model="ir.actions.act_window">
		<field name="name">Stok Kodu Ayarları</field>
		<field name="res_model">res.config.settings</field>
		<field name="view_mode">form</field>
		<field name="target">inline</field>
		<field name="context">{'module': 'product_stock_code_generator'}</field>
	</record>

	<menuitem id="menu_stock_code_settings"
			  name="Stok Kodu Ayarları"
			  parent="stock.menu_stock_config"
			  action="action_stock_code_settings"
			  sequence="90"/>
</odoo>